
@media all and (min-width:769px){
    .side-drawer{
        display: none;
    }

}

.side-drawer ul{
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.side-drawer a{
    color: #521751;
    text-decoration: none;
    font-size: 1.2rem;
}

.side-drawer a:hover{
    color: #fa923f;
}

.side-drawer li{
    margin: 0.5rem 0;
}

.side-drawer.open{
    transform: translateX(0);
}

.side-drawer {
    height: 100%;
    background: white;
    box-shadow: 1px 0px 7px rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left:0;
    z-index: 200;
    transform: translateX(-100%);
    transition: transform 0.3s ease-out;
}

@media all and (max-width:769px){
    .side-drawer{
        width: 70%;
    }
}